.datatable{

    & > header{
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & > table{

        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        table-layout: fixed;
        & td{
            width: 2%;
            position: relative;
        }

        & > thead{
            font-weight: 500;
            text-transform: capitalize;
            text-align: left;

            & td{
                padding: 1rem;
                cursor: pointer;
            }

        }

        & > tbody{

            border-top: 1px solid #000;
            border-bottom: 1px solid #000;

            & > tr:nth-child(odd){
                background: rgba(0 0 0 / 10%);
            }

            & > tr:hover{
                background: rgba(0 0 0 / 22%);
            }

            & td.filtering-cell, & td:first-child{
                background: rgba(0 0 0 / 5%);
            }

            & td{
                padding: 1rem;
            }


        }

    }

    & footer{
        padding: 1rem 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & button{

            padding: .5rem .75rem;
            border: none;
            background: #BCDB1F;
            color: #fff;
            font-weight: 500;
            font-size: 1rem;

            &:not(:last-child){
                margin-right: .5rem;
            }
            &:not(:disabled){
                cursor: pointer;
            }
            &:disabled{
                opacity: .5;
            }

            &.pagination-btn{

                &:disabled{
                    opacity: 1;
                    background: #9DB81A;
                }

            }


        }

    }

}

/* ICONS */

.sort-icon {
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%) scale(0.25);
    width: 64px;
    height: 64px;
    background: url('arrows_sprite.webp') -94px -10px;
    pointer-events: none;

    &.desc{
        width: 64px;
        height: 32px;
        background: url('arrows_sprite.webp') -10px -36px;
    }

    &.asc{
        width: 64px;
        height: 32px;
        background: url('arrows_sprite.webp') -10px -10px;
    }

}